<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Bring Destiny Grimoire to the browser while you play">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css" />
        <link rel="stylesheet" href="assets/style.css">
        <title>LoreBot Extension</title>
        <link rel="icon" type="image/png" href="assets/images/favicon-196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="assets/images/favicon-96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="assets/images/favicon-32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="assets/images/favicon-16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="assets/images/favicon-128.png" sizes="128x128" />
    </head>
    <body>
        <section class="hero is-medium is-primary is-bold">
            <div class="hero-head">
                <header id="app-header" class="nav">
                    <div class="container">
                        <div class="nav-left">
                            <a href="index.html" class="nav-item">
                                <h1 class="title">LoreBot Chrome Extension <small>v{{ getAppVersion }}</small></h1>
                            </a>                         
                        </div>
                        <div class="nav-right">
                            <div class="nav-item">
                                <p>Bringing Destiny In-Game Lore to Your Browser</p>
                            </div>
                        </div>
                    </div>           
                </header>
            </div>
        </section>

        <section class="container" id="character">
            <section class="level" id="inputs">
                <div class="level-item">
                    <label class="label" for="membershipType">Console Type: </label>
                </div>
                <div class="level-item">
                    <select name="membershipType" id="membershipType" autofocus="true" v-model="membershipType" class="level-item">
                        <option value=""></option>
                        <option value="1">XBOX</option>
                        <option value="2">PSN</option>
                    </select>
                </div>
                <div class="level-item">
                    <label for="displayName" class="label level-item">Gamertag: </label>
                </div>
                <div class="level-item">
                    <input type="text" name="displayName" v-model="displayName" class="label level-item">
                </div>
                <div class="level-item">
                    <button class="button level-item" v-on:click="{{ checkActivity() }}">Get Characters</button>
                </div>
            </section>

            <!-- Active Character Display Area -->
            <section class="container outter" v-if="activeCharacter != ''">
                <div class="columns badge">
                    <div class="column emblem is-1" 
                        :style="{ 'background': 'url(http://bungie.net' + activeCharacter.emblemPath + ') no-repeat' }">
                    </div>
                    <div class="column stats" 
                        :style="{ 'background': 'url(http://bungie.net' + activeCharacter.backgroundPath + ') no-repeat' }">
                        <div class="columns" >
                            <div class="column class">
                                <p>{{ characterClass }}</p>
                            </div>
                            <div class="column blevel is-1">
                                <p>{{ activeCharacter.characterLevel }}</p>
                            </div>
                        </div>
                    <div class="columns">
                        <div class="column race is-1">
                            <p>{{characterRace}}</p>
                        </div>
                        <div class="column gender">
                            <p>{{ characterGender}}</p>
                        </div>
                        <div class="column plevel is-1">
                            <p>{{ activeCharacter.characterBase.powerLevel }}</p>
                        </div>
                    </div>
                    </div>
                </div>

                <!-- Current Activity Display Area -->
                <section if="activeCharacter != ''" class="columns activity">
                    <div class="column activityImage">
                        <figure class="activityBackground">
                            <img :src="'http://www.bungie.net' + activity.pgcrImage" alt="activityBackground">
                        </figure>
                        <figure class="activityIcon">
                            <img :src="'http://www.bungie.net' + activity.icon" alt="activityIcon">
                        </figure>
                    </div>
                    <div class="column content">
                        <h2>{{ activity.activityName }}</h2>
                        <h3>{{ activity.activityDescription }}</h3>
                    </div>
                </section>
            </section>
            
            <section class="columns" v-else>
                <article class="column notification is-info">
                    <p>{{ message }}</p>
                </article>
            </section>

            <!-- Grimoire Card Display Area -->
            <section v-if="activity != ''" class="columns cards">
                <article class="column content card-text"  v-if="grimoireCard.description">
                    <h2>{{ grimoireCard.name }}</h2>
                    <div v-show="grimoireCard.intro != null">
                        <p v-html="grimoireCard.intro"></p>
                    </div>
                    <div v-show="grimoireCard.intro_attribution != null">
                        <p v-html="grimoireCard.intro_attribution"></p>
                    </div>
                    <div v-show="grimoireCard.description">
                        <p v-html="grimoireCard.description"></p>
                    </div>
                </article>

                <!-- If No Grimoire Card -->
                <article class="column" v-else>
                    <h3>Card Message: </h3>
                    <p>{{ cardMessage }}</p>
                </article>

                <figure class="column image">
                    <img :src="'http://bungie.net' + grimoireCard.image_url" alt="card-image">
                </figure>                
            </section>
            
            <!-- Grimoire Categories Display Area -->
            <section class="category-display" v-if="activity != ''">
                <pre>{{ grimoireCard.categories }}</pre>
            </section>
            <section class="category-display" v-else>
                <!-- TO DO -->
                <p>{{ categoryMessage }}</p>
            </section>
        
        </section>

        <script type="text/javascript" src="dist/index.js"></script>
    </body>
</html>
