* 
    box-sizing: border-box

.gamertag-input
    padding: 2em 0
        
.character-emblem
    height: 96px

    .emblem
        z-index: 1

    .background
        margin-bottom: 101px

.stats
    // align-items: stretch
    // margin-left: 109px
    // margin-top: -8.5em
    // width: 360px
    color: white
    font-family: Roboto

    .character-clevel
        // display: flex
        // flex-flow: row nowrap
        // justify-content: space-between

    .character-race
        // display: flex
        // flex-flow: row nowrap

        // span:nth-child(1)
        //     padding-right: .5em

        // span:nth-child(2)
        //     padding-right: 17em