* 
    box-sizing: border-box

#inputs
    padding-top: 1em

.outter
    padding-top: 0
    padding-bottom: 2em
    padding-left: .75em
  
    .badge

    .emblem
        z-index: 1
        
    .stats
        max-width: 474px
        color: white
        margin-left: -95px
        
        .class
            margin-left: 90px
        
        .blevel
            font-size: 150%
            margin-right: 4px
        
        .race
            margin-left: 90px

        .gender
            margin-left: 15px      