<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Bring Destiny Grimoire to the browser while you play">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LoreBot Extension</title>
        <link rel="icon" type="image/png" href="images/favicon-196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="images/favicon-96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="images/favicon-32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="images/favicon-16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="images/favicon-128.png" sizes="128x128" />
        <!-- <script src="https://unpkg.com/vue/dist/vue.js" charset="utf-8"></script> -->
    </head>
    <body>
        <header id="app-header">
            <div class="title">
                <h1>LoreBot Chrome Extension <small>{{ getAppVersion }}</small></h1>
            </div>
            <div>
                <h3>{{ message }}</h3>
            </div>
        </header>
        <main id="character">
            <section class="main-header">
                <div id="inputs">
                    // Should collapse once valid information is retrieved
                    <div class="platform-input">
                        <label for="membershipType">Console Type: </label>
                        <select name="membershipType" id="membershipType" autofocus="true" v-model="membershipType">
                            <option value=""></option>
                            <option value="1">XBOX</option>
                            <option value="2">PSN</option>
                        </select>
                    </div>
                    <div class="gamertag-input">
                        <label for="displayName">Gamertag: </label>
                        <input type="text" name="displayName" v-model="displayName">
                    </div>
                    <div class="assemble-button">
                        <button v-on:click="{{ checkActivity() }}">Get Characters</button>
                    </div>
                    <div class="message">
                        {{ message }}
                    </div>
                </div>
                <hr>
            </section>
            <section class="character-display">
                // Character Infomation Displyed Here!
                /* Should contain an option to view Loadout Lore */
                <div v-for="character in characterBase">
                    <img v-bind:src="'http://www.bungie.net'+character.emblemPath">
                    <img v-bind:src="'http://www.bungie.net'+character.backgroundPath">
                </div>
            </section>
            <section class="activity-display">
                // Display Current Activity Title and Base Info
            </section>
            <section class="card-display">
                // Display cards related to current activity
            </section>
            <section class="category-display">
                // Display category details related to current activity
            </section>
        </main>
        <script type="text/javascript" src="index.js"></script>
    </body>
</html>
